<th:block th:fragment="admin">
    <div class="card m-2">
        <div class="card-body">
            <h5 class="card-title">Stop services</h5>
            <p class="card-text">Stop all running services.</p>
            <a href="/pipelite/ui/api/admin/stop" class="btn btn-primary" role="button"
               aria-pressed="true">Stop services</a>
        </div>
    </div>
    <div class="card m-2">
        <div class="card-body">
            <h5 class="card-title">Kill services</h5>
            <p class="card-text">Stop all running services and terminate all running processes.</p>
            <a href="/pipelite/ui/api/admin/kill" class="btn btn-primary" role="button"
               aria-pressed="true">Kill services</a>
        </div>
    </div>
    <div class="card m-2">
        <div class="card-body">
            <h5 class="card-title">Restart services</h5>
            <p class="card-text">Stops and restarts all services.</p>
            <a href="/pipelite/ui/api/admin/restart" class="btn btn-primary" role="button"
               aria-pressed="true">Restart
                services</a>
        </div>
    </div>
    <div class="card m-2">
        <div class="card-body">
            <h5 class="card-title">Shutdown services</h5>
            <p class="card-text">Stop all running services including the web service.</p>
            <a href="/pipelite/ui/api/admin/shutdown" class="btn btn-primary" role="button"
               aria-pressed="true">Shutdown
                services</a>
        </div>
    </div>
</th:block>