<th:block th:fragment="navigation">

    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><img src="/pipelite/static/favicon-32x32.png"/>
            Pipelite</a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/pipelite/ui/schedules">Schedules</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pipelite/ui/pipelines">Pipelines</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pipelite/ui/processes">Processes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pipelite/ui/stages">Stages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pipelite/ui/servers">Servers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pipelite/ui/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank"
                       href="/pipelite/swagger-ui/index.html?configUrl=/pipelite/v3/api-docs/swagger-config">OpenAPI</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="javascript: document.logoutForm.submit()"> Logout</a>
                    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                        <input hidden type="submit" value="Logout"/>
                    </form>
                </li>
            </ul>
        </div>
    </nav>

    <script>
$(document).ready(function() {
    // Activate nav-item.
    $('.nav-item.active').removeClass('active');
    $('.nav-item a[href="' +  location.pathname  + '"]').parent().addClass('active');
    $(this).parent().addClass('active').siblings().removeClass('active');
    // console.log('location.pathname:' + location.pathname);
/*
    // Show uptime.
    setInterval(
        function() {
            $('#uptime').load('/pipelite/admin/uptime').fadeIn("slow");
        }, 10000); // refresh every 10 seconds
*/
});



    </script>

</th:block>
