<th:block th:fragment="navigation">

    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Pipelite</a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/pipelite/ui/schedules">Schedules</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pipelite/ui/processes">Processes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pipelite/ui/stages">Stages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pipelite/ui/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank"
                       href="/pipelite/swagger-ui/index.html?configUrl=/pipelite/v3/api-docs/swagger-config">OpenAPI</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript: document.logoutForm.submit()"> Logout</a>
                    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                        <input hidden type="submit" value="Logout"/>
                    </form>
                </li>
            </ul>
        </div>
    </nav>

    <script>
// activate nav-item
$(document).ready(function() {
    $('.nav-item.active').removeClass('active');
    $('.nav-item a[href="' +  location.pathname  + '"]').parent().addClass('active');
    $(this).parent().addClass('active').siblings().removeClass('active');
    console.log('location.pathname:' + location.pathname);
});


    </script>

</th:block>
