<th:block th:fragment="pipelines">
    <div class="card m-2">
        <div class="card-body">
            <h5 class="card-title">Pipelines running in this server</h5>
            <table id="pipelinesTable" class="table table-striped table-hover" style="width:100%">
                <!-- Header Table -->
                <thead>
                <tr>
                    <th>Pipeline</th>
                    <th>Maximum processes</th>
                    <th>Running processes</th>
                    <th>Submittable processes</th>
                    <th>Pollable processes</th>
                    <!--
                    <th>Pending processes</th>
                    <th>Active processes</th>
                    <th>Completed processes</th>
                    <th>Failed processes</th>
                    -->
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="card m-2">
        <div class="card-body">
            <div class="form-inline m-2">
                <select class="custom-select m-2" id="pipelinesRunningHistoryType">
                    <option value="running">Running processes</option>
                    <option value="completed">Completed processes</option>
                    <option value="failed">Failed processes</option>
                    <option value="error">Internal errors</option>
                </select>
                <select class="custom-select m-2" id="pipelinesRunningHistorySince">
                    <!--
                    <option value="5" selected>Last 5 minutes</option>
                    <option value="15">Last 15 minutes</option>
                    -->
                    <option value="30">Last 30 minutes</option>
                    <option value="60">Last 1 hour</option>
                    <option value="120">Last 2 hours</option>
                    <option value="240">Last 4 hours</option>
                    <option value="480">Last 8 hours</option>
                    <option value="720">Last 12 hours</option>
                    <option value="1440">Last 1 day</option>
                    <option value="10080">Last 7 days</option>
                </select>
                <button type="submit" class="btn btn-primary m-2" onclick="pipelinesPlot()">Show plot</button>
            </div>
        </div>

        <h5 class="mb-4">
            <span class="badge badge-secondary" id="pipelinesRunningHistoryTypeBadge"></span>
            <span class="badge badge-secondary" id="pipelinesRunningHistorySinceBadge"></span>
        </h5>
        <div id="pipelinesRunningHistoryPlot"></div>
    </div>
</th:block>