<th:block th:fragment="pipelines">
    <div class="card m-2">
        <div class="card-body">
            <h5 class="card-title">Pipelines running in this server</h5>
            <table id="pipelinesTable" class="table table-striped table-hover" style="width:100%">
                <!-- Header Table -->
                <thead>
                <tr>
                    <th>Pipeline</th>
                    <th>Maximum processes</th>
                    <th>Running processes</th>
                    <th>Running stages</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</th:block>
