<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>
    <title>Admin</title>
    <script>
$(document).ready( function () {
    $('#servicesTable').DataTable({
        ajax: {
           url: "/pipelite/service/",
           dataSrc: ""
        },
        columns: [
            { data: "serviceName" },
            { data: "pipelineName" },
            { data: "serviceType" },
            { data: "description" }
        ],
        dom: 'frtBip',
        buttons: {
            buttons: [
                { extend: 'copy', className: 'btn btn-outline-secondary' },
                { extend: 'csv', className: 'btn btn-outline-secondary' },
                { extend: 'excel', className: 'btn btn-outline-secondary' }
            ],
            dom: {
    		  button: {
	    	    className: 'btn'
	          }
            }
        },
        orderCellsTop: true,
        fixedHeader: true,
        language : {
           "zeroRecords": " "
        },
    })
});

    </script>
</head>

<body>
<div th:replace="fragments/navigation :: navigation"></div>

<div class="card m-2">
    <div class="card-body">
        <h5 class="card-title">Stop services</h5>
        <p class="card-text">Stop all running services. They can be restarted later.</p>
        <a href="/pipelite/admin/stop" class="btn btn-primary" role="button"
           aria-pressed="true">Stop
            services</a>
    </div>
</div>
<div class="card m-2">
    <div class="card-body">
        <h5 class="card-title">Restart services</h5>
        <p class="card-text">Restart all services. Any running services will be stopped first.</p>
        <a href="/pipelite/admin/restart" class="btn btn-primary" role="button"
           aria-pressed="true">Restart
            services</a>
    </div>
</div>
<div class="card m-2">
    <div class="card-body">
        <h5 class="card-title">Shutdown services</h5>
        <p class="card-text">Stop all running services including the web service.</p>
        <a href="/pipelite/admin/shutdown" class="btn btn-primary" role="button"
           aria-pressed="true">Shutdown
            services</a>
    </div>
</div>
<div class="card m-2">
    <div class="card-body">
        <h5 class="card-title">List of services</h5>
        <p class="card-text">List of all running services.</p>
        <table id="servicesTable" class="table table-striped table-hover" style="width:100%">
            <thead>
            <tr>
                <th>Service name</th>
                <th>Pipeline name</th>
                <th>Service type</th>
                <th>Description</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
</body>
</html>