<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>
    <title>Admin</title>
    <script>
    </script>
</head>

<body>
<div th:replace="fragments/navigation :: navigation"></div>

<div class="card m-2">
    <div class="card-body">
        <h5 class="card-title">Stop services</h5>
        <p class="card-text">Stop all running services. They can be restarted later.</p>
        <a href="/pipelite/admin/stop" class="btn btn-primary" role="button"
           aria-pressed="true">Stop
            services</a>
    </div>
</div>
<div class="card m-2">
    <div class="card-body">
        <h5 class="card-title">Restart services</h5>
        <p class="card-text">Restart all services. Any running services will be stopped first.</p>
        <a href="/pipelite/admin/restart" class="btn btn-primary" role="button"
           aria-pressed="true">Restart
            services</a>
    </div>
</div>
<div class="card m-2">
    <div class="card-body">
        <h5 class="card-title">Shutdown services</h5>
        <p class="card-text">Stop all running services including the web service.</p>
        <a href="/pipelite/admin/shutdown" class="btn btn-primary" role="button"
           aria-pressed="true">Shutdown
            services</a>
    </div>
</div>
</body>
</html>