<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>
    <title>Active processes</title>
    <script th:inline="javascript">
$(document).ready( function () {
    $('#processesTable').DataTable({
        columns: [
            { data: "pipelineName" },
            { data: "processId" },
            { data: "state" },
            { data: "executionCount" },
            { data: "priority" },
            {
                "data": null,
                "defaultContent": "<button class=\"btn btn-outline-secondary mr-2\">Stages</button>"
            }
        ],
        dom: 'frtBip',
        buttons: {
            buttons: [
                { extend: 'copy', className: 'btn btn-outline-secondary' },
                { extend: 'csv', className: 'btn btn-outline-secondary' },
                { extend: 'excel', className: 'btn btn-outline-secondary' }
            ],
            dom: {
    		  button: {
	    	    className: 'btn'
	          }
            }
        },
        orderCellsTop: true,
        fixedHeader: true,
        language : {
           "zeroRecords": " "
        },
    });

    // Stages button is pressed.
    $('#processesTable tbody').on( 'click', 'button', function () {
        var table = $('#processesTable').DataTable();
        var data = table.row( $(this).parents('tr') ).data();
        var url = "/pipelite/ui/stages?pipelineName=" + data.pipelineName + "&processId=" + data.processId;
        window.location.href = url;
    });

    // Set up autocomplete for pipeline name.
    var url = "/pipelite/pipeline/";
    $.get(url, function(data, status) {
        var pipelineNames = data.map(function (obj) {
            return obj.pipelineName;
        });
        $( "#pipelineName" ).autocomplete({
          source: pipelineNames,
          minLength: 0,
          open: function() {
            $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
          },
          close: function() {
            $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
          }
        });
    });
    var pipelineName = /*[[${param.pipelineName}?: 'Pipeline name']]*/ 'Pipeline name';
    if (pipelineName != 'Pipeline name') {
       $( "#pipelineName" ).val(pipelineName);
    }
    var processId = /*[[${param.processId}?: 'Process id']]*/ 'Process id';
    if (processId != 'Process id') {
       $( "#processId" ).val(processId);
    }
    show();
});

// Show the table.
function show() {
    var table1 = $('#processesTable').DataTable();
    var pipelineName = $( "#pipelineName" ).val();
    var processId = $( "#processId" ).val();
    var processScope = $( "#processScope" ).val();

    var url = "/pipelite/process/";

    if (processScope == "local") {
        url = url + "local?";
    }
    else {
        url = url + "all?";
    }
    if (pipelineName) {
        url = url + "pipelineName=" + pipelineName + "&";
    }
    if (processId) {
        url = url + "processId=" + processId + "&";
    }

    var state;
    if (processScope == "local") {
       $( "#title" ).text("Processes running in this service");
    }
    if (processScope == "allPending") {
        state = "PENDING";
        $( "#title" ).text("All pending processes");
    }
    else if (processScope == "allActive") {
        state = "ACTIVE";
        $( "#title" ).text("All active processes");
    }
    else if (processScope == "allCompleted") {
        state = "COMPLETED";
        $( "#title" ).text("All completed processes");
    }
    else if (processScope == "allFailed") {
        state = "FAILED";
        $( "#title" ).text("All failed processes");
    }
    else if (processScope == "allCancelled") {
        state = "CANCELLED";
        $( "#title" ).text("All cancelled processes");
    }
    if (state) {
        url = url + "state=" + state + "&";
    }

    console.log(url);
    $.get(url, function(data, status) {
        table1.clear().rows.add(data).draw();
     });
};




    </script>
</head>

<body>
<div th:replace="fragments/navigation :: navigation"></div>

<div class="card m-2">
    <div class="card-body">
        <h5 class="card-title">Filter conditions</h5>
        <!--        <p class="card-text">Provide the pipeline name and process id to see the process stages.</p> -->
        <div class="form-inline m-2">

            <label class="mr-2" for="pipelineName">Pipeline name</label>
            <!-- placeholder="Pipeline name" -->
            <input type="text" class="form-control m-2" id="pipelineName">

            <label class="mr-2" for="processId">Process id</label>
            <!-- placeholder="Process id"  -->
            <input type="text" class="form-control m-2" id="processId">

            <select class="custom-select" id="processScope">
                <option value="local" selected>Processes running in this service</option>
                <option value="allPending">All pending processes</option>
                <option value="allActive">All active processes</option>
                <option value="allFailed">All failed processes</option>
                <option value="allCompleted">All completed processes</option>
                <option value="allCancelled">All cancelled processes</option>
            </select>

            <button type="submit" class="btn btn-primary m-2" onclick="show()">Show processes</button>
        </div>
    </div>
</div>

<div class="card m-2">
    <div class="card-body">
        <h5 class="card-title" id="title"></h5>
        <table id="processesTable" class="table table-striped table-hover" style="width:100%">
            <thead>
            <tr>
                <th>Pipeline name</th>
                <th>Process id</th>
                <th>state</th>
                <th>Execution count</th>
                <th>Priority</th>
                <th>Stages</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
</body>
</html>