<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>
    <title>Schedules</title>
    <script>
$(document).ready( function () {
    $('#schedulesTable').DataTable({
        columns: [
            // { data: "schedulerName" },
            { data: "pipelineName" },
            { data: "processId",
                render: function ( data, type, row, meta ) {
                    var url = "/pipelite/ui/process?pipelineName=" + row.pipelineName + "&processId=" + row.processId;
                    return '<a href="' + url + '">' + row.processId + '</a>';
                }
            },
            { data: "summary" },
            { data: "lastCompleted" },
            { data: "lastFailed" },
            { data: "startTime" },
            { data: "nextTime" },
            { data: "cron" },
            { data: "description" }
        ],
        dom: 'frtBip',
        buttons: {
            buttons: [
                { extend: 'copy', className: 'btn btn-outline-secondary' },
                { extend: 'csv', className: 'btn btn-outline-secondary' },
                { extend: 'excel', className: 'btn btn-outline-secondary' }
            ],
            dom: {
    		  button: {
	    	    className: 'btn'
	          }
            }
        },
        orderCellsTop: true,
        fixedHeader: true,
        responsive: true,
        language : {
           "zeroRecords": " "
        },
    });

  show();
});

// Show the table.
function show() {
    var table = $('#schedulesTable').DataTable();
    var scheduleTime = $( "#scheduleTime" ).val();

    // Show the badge.
    $( "#scheduleTimeBadge" ).text( $( "#scheduleTime option:selected" ).text() );

    // Show the table.
    var url = "/pipelite/schedule/local";
    if (scheduleTime == "relative") {
        url = url + "?relative=true";
    }
    console.log(url);
    $.get(url, function(data, status) {
        table.clear().rows.add(data).draw();
     });
};




    </script>
</head>

<body>
<div th:replace="fragments/navigation :: navigation"></div>


<div class="mt-4 mb-4 ml-2 mr-2">
    <ul class="nav nav-tabs justify-content-center" role="tablist">
        <li class="nav-item" role="presentation"><a class="nav-link active" data-toggle="tab" role="tab"
                                                    href="#running">Local schedules</a></li>
        </li>
    </ul>
</div>

<div class="tab-content">
    <div id="running" class="tab-pane fade show active" role="tabpanel">
        <div class="card m-2">
            <div class="card-body">
                <h5 class="card-title">Select schedules</h5>
                <div class="form-inline m-2">
                    <select class="custom-select m-2" id="scheduleTime">
                        <option value="relative" selected>Relative time</option>
                        <option value="absolute">Absolute time</option>
                    </select>
                    <button type="submit" class="btn btn-primary m-2" onclick="show()">Show schedules</button>
                </div>
            </div>
        </div>

        <div class="card m-2">
            <div class="card-body">
                <h5 class="card-title">Schedules running in this server</h5>
                <h5 class="mb-4">
                    <span class="badge badge-secondary" id="scheduleTimeBadge"></span>
                </h5>

                <table id="schedulesTable" class="table table-striped table-hover" style="width:100%">
                    <thead>
                    <tr>
                        <th>Pipeline</th>
                        <th>Process</th>
                        <th>Summary</th>
                        <th>Last completed</th>
                        <th>Last failed</th>
                        <th>Last start</th>
                        <th>Next start</th>
                        <th>Cron</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>
